body {
  background-color: #f3f2f0;
}
.single-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.single-item h6 {
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  font-size: 17px;
}
.single-item button {
  border: none;
  background-color: #dddad5;
  padding: 10px 30px;
  outline: none;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.1s;
  font-family: "Libre Baskerville", serif;
}
.single-item button:hover {
  background-color: #c6c2b8;
}
.single-item button:active {
  background-color: #b0a99c;
}

h1 {
  font-family: "Libre Baskerville", serif;
}
h2 {
  font-family: "Libre Baskerville", serif;
}
h3 {
  font-family: "Libre Baskerville", serif;
}
h4 {
  font-family: "Libre Baskerville", serif;
}
h5 {
  font-family: "Libre Baskerville", serif;
}
h6 {
  font-family: "Libre Baskerville", serif;
}
